---
const internalLinks = [
  {
    name: "Experiencia",
    href: "#experience",
    class: "hover:text-sky-600",
  },
  {
    name: "Proyectos",
    href: "#projects",
    class: "hover:text-sky-600",
  },
  {
    name: "Contacto",
    href: "#contact",
    class: "hover:text-sky-600",
  },
]
---

<header class="bg-slate-900 py-10 text-white">
  <div class="container mx-auto flex flex-col items-center justify-center mt-5 md:flex-row md:justify-between space-y-5 md:space-y-0">
    <h1 class="text-4xl font-bold text-center">Nicolás Lopez Vidueiros</h1>
    <nav class="flex flex-col items-center md:flex-row gap-3 text-lg">
      {internalLinks.map(link => (
        <a href={link.href} class={`${link.class}`}>{link.name}</a>
      ))}
    </nav>
  </div>
</header>