---
import Experience from "./Experience.astro";
import Hero from "./Hero.astro";
import Projects from "./Projects.astro"
import Contact from "./Contact.astro"
---

<div id="container">
	<main class="w-[500px] mx-auto">
		<Hero />
		<Experience />
		<Projects />
		<Contact />
	<main>
</div>
